.contact-container{
  background-color: black;
}


.lets-chat{
  font-size: 12rem;
  padding: 3rem;
  background-color: black;
  color: white;
}

@media screen and (max-width: 768px) {
  .lets-chat {
    font-size: 5rem;
    padding: 2rem;


  }
  
}