

.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  text-align: center;
}


.hero-text{
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}