.skillset-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem; /* Same as .hero */
  min-height: 100vh;
  box-sizing: border-box;
}

.skillset-container {
  max-width: 1200px;
  width: 100%;
  padding: 0 2rem; /* Matches .hero padding */
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.skillset-btn {
  background-color: transparent;
  font-size: 1.2rem; /* Increased font size */
  color: black;
  border: none;
  border-bottom: 2px solid black;
  text-align: center;
  width: fit-content;
  align-self: center;

}

.skillset-btn:hover {
  cursor: pointer;
  color: #333;
}

.skillset-description {
  color: rgb(0, 0, 0);
  border-radius: 1.5rem;
  border: 1px solid white;
  background-color: #ffffff0a;
  padding: 1.5rem 2rem;
  font-size: 40px; /* Increased font size */
  text-align: left;
  box-sizing: border-box;
}